<h1>Subjects</h1>
<div>
    <button class="btn btn-primary" (click)="navAdd()"
    >Add</button>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Code</th>
            <th>Timestamp</th>
        </thead>
        <tbody *ngIf="patients.length">
            <tr *ngFor="let patient of patients">
                <td> {{ patient.name }} </td>
                <td> {{ patient.gender }} </td>
                <td> {{ patient.dateOfBirth }} </td>
                <td>
                    <button class="btn btn-info"
                    [routerLink]="['/view', patient.id]">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
